# App env variable
PORT=3000
JWT_SECRET=JWT_SECRETJWT_SECRETJWT_SECRETJWT_SECRETJWT_SECRETJWT_SECRETJWT_SECRETJWT_SECRETJWT_SECRET
GMAIL_LIMIT=100

# Google credentials
CLIENT_ID=
CLIENT_SECRET=
OAUTH_ENCRYPTION_KEY=

# Database credentials
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/shobmail

# Redis credentials
REDIS_CONNECTION_URL=redis://localhost:6379
GEMINI_API_KEY=
